<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqI_0JAeyRrJtclaBu1yjKxJRkPqWknnI</string>
	<key>GCM_SENDER_ID</key>
	<string>289727450677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cis454.SnapEmAll</string>
	<key>PROJECT_ID</key>
	<string>snapemall</string>
	<key>STORAGE_BUCKET</key>
	<string>snapemall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:289727450677:ios:4fea09f4f0cfc4d1b36b7c</string>
</dict>
</plist>
